body {
    --icon-gradient-low: #FF737B;
    --icon-gradient-mid: #F19CFF;
    --icon-graident-high: #F97DDF;
}

body.light-theme {
    --icon-gradient-low: #FF000F;
    --icon-gradient-mid: #DE14FF;
    --icon-graident-high: #FF00C8;
}