.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage__banner {
    position: relative;
    text-align: center;
    margin-block: 128px;
}

.homepage__banner__footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 32px;
}

.homepage__divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 64px;
}
