.morePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.morePage__banner {
    position: relative;
    text-align: center;
    margin-block: 128px;

    h1 {
        text-shadow: 2px 4px 30px rgba(255, 255, 255, 0.4);
    }
}

.morePage__footer {
    text-align: center;
}
