.caseHeader {
    display: flex;
    flex-direction: column;
    gap: 88px;
    height: 881px;
    width: 100%;
    margin-top: -74px;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.intuit {
      align-items:flex-end;
      justify-content:flex-end;
      background-image: url('../../public/intuit/headerimageintuit.png');
    }

    &.tpc {
      align-items:flex-start;
      justify-content:flex-end;
      background-image: url('../../public/tpc/tpcheader.png');
    }

    &.lcbo {
      align-items:flex-start;
      justify-content:center;
      background-image: url('../../public/lcbo/lcboheader.png');
    }

}

.caseHMW {
    padding-top: 88px;
    padding-bottom: 88px;
    flex-direction: column;
    gap: 88px;
    text-align: center;
    width: 100%;

    background-color: var(--case-theme);
    color: var(--just-white);
}

.caseStudy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 88px;
}

.caseContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 89px;
    text-align: left;
    width: calc(100% - 2 * var(--case-margin));

    &.buttons {
      gap: 0px;
      justify-content: center;
    }
}

.caseImage {
  display: flex;
  justify-content: center;
  align-items: center;

  img,
  video {
    width: calc(100% - 2 * var(--case-margin));
    border: 2px var(--case-theme) solid;
    border-radius: 12px;
    overflow: clip;
  }

  &.full img {
    border: none;
    width: 100%;
  }

  &.hideBorder {
    img, video {
      border: none;
    }
  }
}


.caseIntro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 89px;
  text-align: left;
  width: calc(100% - 2 * var(--case-margin));
}

.caseContext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    white-space: nowrap;
}

.videoBorder > * {
}

.buttonStyle{
  padding: 10px 24px;
  color: var(---just-white) solid;
}
