.highlightcard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;

    width: 100%;
    height: 720px;
}

.highlightcard.right {
    flex-direction: row-reverse;
}

.highlightcard__content {
    width: 456px;
    padding-left: var(--spacing--margin);
    padding-right: 0;
}

.highlightcard.right  .highlightcard__content {
    padding-left: 0;
    padding-right: var(--spacing--margin);
}

.highlightcard__image {
    position: relative;
    flex: 1;

    display: flex;
    justify-content: center;
}

.highlightcard__image > div {
    animation: imageScroll 1s linear both;
    animation-play-state: paused;
    /* Value of the variable: start at 0 and moving towards 1 */
    animation-delay: calc(var(--scroll-highlight-card) * -1s);
}

@keyframes imageScroll {
    from {
        transform: translate(0, -180px);
    }
    
    to {
        transform: translate(0, 180px);
    }
}
