.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 120px;

    height: 72px;
}

.navbar__logo {
    color: #FF4C8C;
}

.navbar__tabs {
    display: flex;
    flex-direction: row;
    gap: 32px;

    color: white;
}

.navbar__tabs__tab {
    color: var(--vanilla-chocolate);
}