
.projectSummary {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-block: 32px;
}

.projectSummary__title {
    display: flex;
    align-items: center;
    gap: 32px;
}

.projectSummary__description {
    max-width: 544px;
}