/* COLORS */
body {
    --light-mode-bg: #FFFAFB;
    --dark-mode-bg: #202020;
    --masato-blue: #5656FF;
    --syo-pink: #FF6EA2;
    --brownie-brown: #533030;
    --just-white: #FFFFFF;
    --salt-and-pepper: #D7D7D7;
    --light-intuit-blue: #577ECD;
    --intuit-blue: #236CFF;
    --light-tpc-teal: #62979E;
    --tpc-teal: #007E8F;
    --light-lcbo-green: #40947F;
    --lcbo-173F35: #173F35;

    --color-background: var(--dark-mode-bg);
    --color-title: var(--just-white);
    --color-subtitle: var(--syo-pink);
    --color-body: var(--just-white);

    color: var(--color-title);
    background: var(--color-background);

    .accent {
        color: var(--color-accent);
    }

    .title {
        color: var(--color-title);
    }
    
    .subtitle {
        color: var(--color-subtitle);
    }
}

body.light-theme {
    --color-background: var(--light-mode-bg);
    --color-title: var(--masato-blue);
    --color-body: var(--brownie-brown);
}

/* FONTS */
* {
    font-family: "DM Sans"; 
}

h1 {
    font-size: 40px;
    line-height: 1.3;
    color: var(--color-title);
}

h1.display {
    font-size: 50px;
    line-height: 1.4;
    color: var(--color-title);
}

h2 {
    font-size: 30px;
    line-height: 1.3;
}

h3 {
    font-size: 20px;
    line-height: 1.3;
}

h3.subheading {
    font-size: 24;
    font-weight: 500;
    font-style: italic;
    --color-subtitle: var(--syo-pink);
}

p {
    font-family: "Inter"; 
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-body)
}